$black: #100f15;
$gray-light: #55545c;
$gray: #24232b;
$white: #e6e5e8;
$blue: #0060df;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  font-family: monospace;
}

main {
  margin: 0 auto;
  padding-top: 50px;
  width: 40vw;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  color: $gray-light;
}

.pass__show {
  text-align: center;
  margin: 0 auto;
  background-color: $gray;
  height: 4em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  p {
    color: #e6e5e8;
  }
}

.pass__configs {
  padding: 10px;
  margin: 0 auto;
  background-color: $gray;
  padding: 2em;
  border-radius: 2px;

  button {
    border-radius: 2px;
    height: 3em;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background-color: $blue;
    border: none;
    color: $white;
    cursor: pointer;
    opacity: 1;
    transition: all .2s;

    &:hover {
      opacity: .8;
    }
  }
}

.configs__div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;

  input {
    margin-right: 2em;
    cursor: pointer;
  }

  #sizeShow {
    font-size: 25px;
    color: $blue;
    margin-left: 1.5em;
  }

  input[type="range"] {
    margin-top: 10px;
    width: 30vw;
    height: 2em;
  }

}

@media screen and (max-width: 1199px) {
  main {
    width: 85vw;
  }
}